@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #f0f9ff;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button:focus{
  box-shadow: 0 0 0 3px theme("colors.sky.200");
}

.result-char {
  font-size: clamp(3rem, 25vw, 5rem);
}